@model CoreFitnessWebApp.Models.Product

@{
    ViewBag.Title = "ViewProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewProduct</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.productName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productAvailability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productAvailability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productImg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productStock)
        </dd>

    </dl>
</div>
<p>
    <input type="button" id="btnAdd" value="Add To Cart" /> |
    @Html.ActionLink("Back to List", "Index")
</p>


<script src="~/Scripts/jquery-1.10.2.js"></script>

<script type="text/javascript">
    $(function () {
        $('#btnAdd').click(function ()
        {
            var shoppingCart = {
                sessionID: '10',
                idProduct:  '@Model.productID',
                productName: '@Model.productName',
                orderQty: '4',
            }
            $.ajax({
                type: "POST",
                crossDomain: true,
                xhrFields: {   withCredentials: true  },
                contentType: "application/json; charset=utf-8",
                data: "{shoppingcart:" + JSON.stringify(shoppingCart) + "}",
                url: "/Home/AddToCart",
                success: function (response) {
                    alert(response.result);
                },
                error: function (response) {
                    alert(response.result);
                }
            })
        })
    })
</script>